// If you want to override variables do it here
@import 'variables';

//switch theme
// $form-switch-checked-color: white;
// $form-switch-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 20 20'><circle r='5' fill='yellow'/><line x1='-7' y1='0' x2='-9' y2='0' stroke='yellow' stroke-width='0.5'/><line x1='7' y1='0' x2='9' y2='0' stroke='yellow' stroke-width='0.5'/><line x1='0' y1='-7' x2='0' y2='-9' stroke='yellow' stroke-width='0.5'/><line x1='0' y1='7' x2='0' y2='9' stroke='yellow' stroke-width='0.5'/><line x1='-4.5' y1='-4.5' x2='-6.5' y2='-6.5' stroke='yellow' stroke-width='0.5'/><line x1='4.5' y1='-4.5' x2='6.5' y2='-6.5' stroke='yellow' stroke-width='0.5'/><line x1='-4.5' y1='4.5' x2='-6.5' y2='6.5' stroke='yellow' stroke-width='0.5'/><line x1='4.5' y1='4.5' x2='6.5' y2='6.5' stroke='yellow' stroke-width='0.5'/><circle r='4' fill='rgba(0,0,0,0.8)'/></svg>");
// $form-switch-focus-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 20 20'><circle r='5' fill='yellow'/><line x1='-7' y1='0' x2='-9' y2='0' stroke='yellow' stroke-width='0.5'/><line x1='7' y1='0' x2='9' y2='0' stroke='yellow' stroke-width='0.5'/><line x1='0' y1='-7' x2='0' y2='-9' stroke='yellow' stroke-width='0.5'/><line x1='0' y1='7' x2='0' y2='9' stroke='yellow' stroke-width='0.5'/><line x1='-4.5' y1='-4.5' x2='-6.5' y2='-6.5' stroke='yellow' stroke-width='0.5'/><line x1='4.5' y1='-4.5' x2='6.5' y2='-6.5' stroke='yellow' stroke-width='0.5'/><line x1='-4.5' y1='4.5' x2='-6.5' y2='6.5' stroke='yellow' stroke-width='0.5'/><line x1='4.5' y1='4.5' x2='6.5' y2='6.5' stroke='yellow' stroke-width='0.5'/><circle r='4' fill='rgba(255,255,255,0.8)'/></svg>");
// $form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 20 20'><circle r='5' fill='yellow'/><circle r='4' fill='rgba(255,255,255,0.8)'/></svg>");
$form-switch-widths: (
  lg: (
    width: 3em,
    height: 1.65em,
  ),
) !default;
$enable-rtl: true;
$progress-bar-bg: #3399ff;

.nav-tabs {
  --cui-nav-tabs-link-active-bg: #547ea1 !important;
  --cui-nav-tabs-link-active-color: #ffffff !important;
  --cui-nav-link-color: #ffffff98 !important;
  --cui-nav-link-hover-color: #ffffff !important;
}
// Import CoreUI for React components library
@import '@coreui/coreui/scss/coreui';

// Import Chart.js custom tooltips styles
@import '@coreui/chartjs/scss/coreui-chartjs';

@import 'layout';
@import 'example';

// If you want to add custom CSS you can put it here.
@import 'custom';
