.qty-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .qty-container .input-qty {
    text-align: center;
    /*padding: 0 10px;*/
    border: 2px solid black;
    color: black;
    background: none;
    font-size:1.4em;
    max-width: 80px;
  }

  .qty-container .qty-btn-minus,
  .qty-container .qty-btn-plus {
    border: 2px solid black;
    font-size: 10px;
    background: transparent;
    height: 25px;
    width: 25px;
  }

  .qty-container .qty-btn-plus {
    margin-left: 9px;
  }

  .qty-container .qty-btn-minus {
    margin-right: 9px;
  }
.menu-button {
  border-radius: 15px;
  height: 4.5em;
  width: 7.5em;
  padding: 6px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  .menu-button .fa-2x {
    font-size: 1.5em;
  }
  .menu-button .btn-submit {
    color: green;
  }
  .menu-button .btn-trash {
    color: red;
  }
  .menu-button .btn-change {
    color: cornflowerblue;
  }
  .menu-button .btn-new-bill {
    color: blue;
  }
.table-cell {
  text-align: center;
}

.menu-button FontAwesomeIcon {
  color: blue !important;
}
  @media (min-width:768px) and (max-width:1200px)
  {
    .menu-button{
        width:50%;
    }
    .button-col{
        margin-top:1em;
    }
  }
@media (min-width:150px) and (max-width:768px) {
  .menu-button {
    width: 100%;
  }
  .button-col {
    margin-top: 1em;
  }
}

/*Table CSS*/

tr, td {
  padding: 3px;
}


.data_table {
  margin-top: 10px;
  color: white !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*background-image: linear-gradient(to right,rgba(0,71,107,255),rgba(24,142,183,255));*/
  background-color: rgb(60 75 100 / 80%);
}

/*Table footer CSS*/

tr:hover {
  background-color: rgba(17,35,50,0.5);
}

.data_table tbody {
  background-color: rgba(17,35,50,0.5);
  border: 0 !important;
}

  .data_table tbody .rowspan {
    background-color: rgba(17,35,50,0.7);
    text-align: center;
    vertical-align: middle;
    margin: 0;
  }

.rowspan p {
  font-size: 2.5em;
  font-family: Century;
  margin: 0;
  color: rgba(59,206,238,255);
}

.table-striped > tbody > tr > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: #f3f3f3 !important;
}
.count-btn{
    font-size:2em !important;
    width:1.8em;
}

.top-barcode {
  display: flex;
  align-items: center;
  height: 59px;
  margin-left: 5px;
  padding-left: 0px;
}
.select-list {
  border-radius: 0 !important;
}

.set-input-width{
    width:80%;
}
.set-input-width-disc{
    width:100%;
}

.btn-full-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height:2.4em;
}
.top-textbox{
    margin-top:auto;
    margin-bottom:auto
}
.form-select-height {
  line-height: 1.1em;
  border: 1px solid #0000008f;
}
.set-margin{
    margin-top:auto;
   /* margin-bottom:.5em;*/
}
.stock-size {
    text-align:center;
  font-size: 1.5em;
  margin-top: 1%;
}
.col-padding{
    padding-right:0;
}
@media (max-width:575px) {
  .btn-full-center{
      margin-top:1em;
  }

}
@media(min-width:768px) and (max-width:1200px){
  .md-width{
      width:50%;
  }
}
@media (max-width:991px) {
  .set-input-width {
    width: 100%;
  }

  .set-input-width-disc {
    width: 100%;
  }
  .set-select-width{
      width:100%
  }


}
.rdg-cell{
    text-align:center;
}
.rdg-row-odd {
  background-color: #d3d3d34f;
}
.rdg-summary-row {
  background-color: #f9f9f9 !important;
}
.btnPlaceOrder {
  width: 10.5%;
}
